package {{PackageName}};

import com.fasterxml.jackson.annotation.JsonIgnoreProperties;
import {{RefPackageName}}.{{CleanName}};

/**
* {{Comment}} 持久化对象包装类
* Created by CodeMachine on {{Time}}.
*/
@JsonIgnoreProperties(ignoreUnknown = true)
public class {{CleanName}}Info extends {{CleanName}} {

}
